<!DOCTYPE html>

<html>
    <head>
        <title> blog</title>
        {% load static%}

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "custom/custom.css"%}">
    </head>
    <body>
        <header>
            <div class="blog-masthead">
                <div class="container">
                  <nav class="nav">
                    <a {% if request.path == "/"%}class="nav-link active"{%else%}class="nav-link"{%endif%} href="/">Home</a>
                    <a {% if request.path == "#"%}class="nav-link active"{%else%}class="nav-link"{%endif%} href="#">Games</a>
                    <a {% if request.path == "#"%}class="nav-link active"{%else%}class="nav-link"{%endif%} href="#">Press</a>
                    <a {% if request.path == "#"%}class="nav-link active"{%else%}class="nav-link"{%endif%} href="#">New hires</a>
                    <a {% if request.path == "/about/"%}class="nav-link active"{%else%}class="nav-link"{%endif%} href="about/">About</a>
                  </nav>
                </div>
              </div>
        </header>

        {% block content %}
        {%endblock%}

    </body>
</html>