<!DOCTYPE html>

<html>
    <head>
        <title> blog</title>
        {% load static%}

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "custom/custom.css"%}">
    </head>
    <body>
        <header>
            <div class="blog-masthead">
                <div class="container">
                  <nav class="nav">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Blog</a>
                    <a class="nav-link" href="#">Press</a>
                    <a class="nav-link" href="#">New hires</a>
                    <a class="nav-link" href="#">About</a>
                  </nav>
                </div>
              </div>
        
              <div class="blog-header">
                <div class="container">
                  <h1 class="blog-title">Tech News</h1>
                  <p class="lead blog-description">Personal blog for the latest tech news and updates</p>
                </div>
              </div>
        </header>
    </body>
</html>