{% extends "home/base.html" %}

{% block content %}

<main role="main" class="container">
    <div class="row">
    
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.post_title}}</h2>
                <p class="blog-post-meta">{{ post.date|date:"Y-m-d" }} by  <a href="authors/{{post.author.id}}">{{post.author}}</a></p>
				<p>{{post.content}}</p>
            </div>
        </div>
    
    </div>
</main>

{% endblock%}

